html, body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#39c6c6;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    height: 100%;
    width: 100%;
}
h1 {
    font-family: 'Anonymous Pro';
    display: block;
    width: 100%;
    text-align: center;
    font-size: 200px;
    top: 35%;
    position: absolute;
    margin-top: -100px;
}
@media(max-width: 767px) {
    h1 {
        font-size: 75px;
        margin-top: -50px;
    }
    
}
@media(max-width: 480px) {
    h1 {
        font-size: 50px;
        margin-top: -25px;
    }
}